@model IEnumerable<CategoryRol>

<div class="col-lg-10">
    <table id="DataTableCategoryRol" class="table table-striped ">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectall" /></th>
                <th>Id</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.CheckBox("case", item.HasPermition, new { onchange = "SomeMethod(this)", id = @item.Rol.Id, @class = "case" })</td>
                    <td>@item.Rol.Id</td>
                    <td>@item.Rol.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {

        // add multiple select / deselect functionality
        $("#selectall").click(function () {

            $('.case').prop('checked', this.checked);
        });

        // if all checkbox are selected, check the selectall checkbox
        // and viceversa
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);
            } else {
                $("#selectall").prop("checked", false);
            }

        });
    });



    function SomeMethod(checkboxInput) {
        alert("checkedChanged" + checkboxInput);
        //$.ajax({
        //    type: 'POST',
        //    url: Your / Action,
        //    data: { newValue: checkboxInput.checked },
        //    success: success,
        //    dataType: 'json'
        //});
    }
</script>
