
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPersonal</title>
</head>
<body>
    <div>
        add persnal 
    </div>
</body>
</html>
