<div class="well">
    <h3>
        <strong>@Model.ProductName</strong>
        <span class="pull-right label label-primary">@Model.ProductSalePrice.ToString("c")</span>
    </h3>
    <span class="lead">@Model.ProductDescription</span>
</div>
