<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE root SYSTEM "Config.dtd">
<root>
  <img key="red" value="../Img/red.png"></img>
  <img key="blue" value="../Img/blue.png"></img>
  <img key="green" value="../Img/green.png"></img>
  <img key="yellow" value="../Img/yellow.png"></img>
  <img key="defultProduct" value="../Img/noImagen.png"></img>
  <img key="simple" value="../Img/simple.png"></img>
  <img key="composite" value="../Img/composite.png"></img>
</root>
