@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<h2>Login</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>
            <label>Username:</label><input name="username" /></p>
        <p>
            <label>Password:</label><input name="password" type="password" /></p>
        <input type="submit" value="Ingresar" />
    }
</body>
</html>
